# Node.js
node_modules/

# dotenv
.env

# Logs
logs/
*.log

# Sequelize CLI
.sequelizerc

# Sistema de OS
.DS_Store
Thumbs.db

# Arquivos de banco de dados locais (se houver)
*.sqlite
*.db

# Arquivos de backup
*.bak

# IDEs e editores
.vscode/
.idea/

# Dependências do npm
package-lock.json
yarn.lock

# Compilação do TypeScript (se aplicável)
dist/
